<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" pathCoverage="false">
        <include>
            <directory>meteo</directory>
        </include>
        <exclude>
            <directory>meteo/logs</directory>
            <directory>tests</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        <env name="DB_NAME" value="meteo_test"/>
        <env name="API_KEY" value="test_api_key_12345"/>
        <env name="ENABLE_AUTH" value="true"/>
    </php>
</phpunit>
